.product-cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.plans-container--slider{
    justify-content: space-evenly;
    overflow-x: unset;
}

.main-tables-container{
    justify-content: space-evenly;
    overflow-x: unset;
}
.image-section{
    background-image: url(../assets/images/backgroundimage2.png);
}
