
/* 
1. Posicionamiento
2. Modelo de caja
3. Tipografía 
4. Visuales
5. Otros
*/
:root{
    /*colores*/
    --bitcoin-orange: #F7931A;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #201E1C;
    --warm-black1: #282623; 
    --black: #282623;
    --grey: #BABABA;
    --mid-grey: #757575;
    --off-white:#f3f1f0;
    --just-white: #fff;
    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}
header {
  position: relative; 
  display:flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218;
    margin-top: 50px;
    align-self: center;
}

.header--title-container h1{
font-size: 2.4rem;
font-weight: bold;
line-height: 2.6rem;
color: var(--just-white);
}

.header--title-container p{
    margin-top: 25px;
    margin-bottom: 80px;
    font-size:1.4rem ;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);

}

.header--title-container .header--button{
  position:absolute;
  left:calc(50% - 114px);
  top: 270px;
  display: block;
  margin: 35px 0 auto auto;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /*sombra*/
  box-shadow: 0px 4px 8px rgba(89,73,30,0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
  
}

.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/vector.svg')
}

main{
    width: 100%;
    min-width: 320px;
    height: auto; /*el height auto hace que el contenedor se ajuste
                    al tamaño del contenido*/
    background-color: var(--off-white);

}

.main-exchange-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title{
    width: 90%;
    min-width: 288px; /*el 90% de 320px es 288px*/
    max-width: 900px;
    margin: 0 auto;  /*el margin: 0 auto genera un margin automatico que 
                       centra el texto, esto sucede ya que el contenido no tiene un width
                        de 100%*/                
}
    
.main-exchange-container .backgroundImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/images/bitcoin.png') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-exchange-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container--title p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--mid-grey);
}

.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 300px;
    margin: 0 auto;
    font-family: "inter" , sans-serif;
}

.currency-table--title{
    margin:15px;
    font-size:1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    text-align: start;
    
}

.currency-table--container{
    width: 90%;
    min-width: 230px;
    max-width:300px;
    height: 200px;
    margin: 0 auto;
}

.currency-table--container table{
    width: 100%;
    height: 100%;
}
.currency-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
  
}

.table__top-left{

    border-top-left-radius: 5px;
}

.table__top-right{
    border-top-right-radius: 5px;
}

.table__bottom-left{
    border-bottom-left-radius: 5px;
}
.table__bottom-right{
    border-bottom-right-radius: 5px;
}

.currency-table--container .table__right{
    font-size:1.4rem;
    font-weight: normal;
    color: var(--mid-grey);
}

.currency-table--container .down{
    display: inline-block;
    width: 15px;
    height:15px;
    margin-left: 10px;
    background-image: url(./assets/icons/trending-down.svg);
    background-size: cover;      /*Escala la imagen al mayor tamaño posible sin estirarla. Si las proporciones de la 
                                 imagen difieren de las del elemento, es recortada vertical u horizontalmente para que no 
                                 quede un espacio vacío.*/
    background-position: center;
    background-repeat: no-repeat;

}

.currency-table--container .up{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url(./assets/icons/trending-up.svg);
    margin-left: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table-date{
    width: 140px;
    height: 30px;
    padding: 10px 5px;
    margin: 10px auto 25px auto;
    background-color: var(--soft-orange);
    border-radius: 5px;
}

.comissions-table--title{
    margin: 15px;
    font-size: 1.8rem;
    margin:15px;
    font-size:1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
    text-align: start;
}

.currency-table--container .comissions-table-date{
    background-color: var(--soft-blue);
    width:140px;
    height: 30px;
    padding: 10px  5px;
    margin: 10px auto 25px auto;
    border-radius: 5px;
}

.main-product-detail{
    width: 100%;
    height: auto;
    padding-bottom: 47px;
    background-color: var(--warm-black);
    
}

.main-product-detail .logo{
    display: block;
    width: 51px;
    height:30px;
    margin: 0 auto;
    background-image: url(./assets/images/logo.svg);
    background-size:cover ;
    position: relative;
    bottom: 14px;
    
}

.main-product-detail h2{
    width:90%;
    margin: 35px auto 0 auto;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 26px;
    color: white;
    text-align: center;
}

.main-product-detail div p{
    width: 90%;
    text-align: center;
    margin: 20px auto 32px auto;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 18px;
    color: #858585;

}

.product-cards-container .product-detail--card{
width: 90%;
min-width: 288px;
max-width:400px;
height: 152px;
padding: 16px;
margin: 0 auto 16px auto;
background-color: var(--warm-black1);
border-radius: 3px;

}

.product-detail--card .product--card-title{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    font-style: normal;
}

.product-detail--card .clock-ikon {
    display: block;
    width: 20px;
    height:20px;
    margin-bottom: 10px;
    background-image: url(./assets/icons/clock\ .svg);
    background-size: cover;
}

.product-detail--card .eye-ikon{
    display: block;
    width: 20px;
    height:20px;
    margin-bottom: 10px;
    background-image: url(./assets/icons/eye.svg);
    background-size: cover;
}

.product-detail--card .dollar-ikon{
    display: block;
    width: 20px;
    height:20px;
    margin-bottom: 10px;
    background-image: url(./assets/icons/dollar-sign.svg);
    background-size: cover;
}

.product-detail--card .check-ikon{
    display: block;
    width: 20px;
    height:20px;
    margin-bottom: 10px;
    background-image: url(./assets/icons/check-circle.svg);
    background-size: cover;
}



.product-detail--card .product--card-body{
font-weight: 500;
font-size: 1.4rem;
line-height: 18px;
color: #858585;
}
.image-container{
    background-color: var(--off-white);
}
.image-section{
    width: 320px;
    height: 60vh;
    margin: 0 auto;
    padding-top: 64px;
    background-image: url(./assets/images/backgroundImage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.image-section h2{
    text-align: center;
    
    color: white;
    font-weight: bold;
    font-size: 2.4rem;

}

.main-plans-container{
width: 100%;
min-width: 320px;
padding-bottom: 70px;
text-align: center;

}

.plans--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}

.plans--title h2{
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    padding-top: 50px;
    color: var(--warm-black-black);
}

.plans--title p {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--mid-grey);
}
.plans-container--slider{
    display: flex;
    height:316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container--card{
    position:relative;
    scroll-snap-align: center;
    width: 60%;
    min-width: 192px;
    max-width:300px;
    height: 250px;
    margin: 50px 4px 0 4px;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,30, 0.16);
}

.recomendado{
    position: absolute;
    width: 101px;
    height: 31px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    font-size: 1.2rem;
    font-weight: 700;
    padding: 7px;
    left: calc(50% - 50px);
    top: -15px;
}

.plan-info-container .plan-card--title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--warm-black);
}

.plan-info-container .plan-card--price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5rem;
    color: var(--warm-black);
}

.plan-info-container .plan-card--price span{
    position:absolute;
    left: calc(50% - 8px/2 - 35px);
    top: calc( 50% - 50px/2 - 60px);
    font-size: 1.2rem;
    font-weight: 300;
    
}

.plan-card--savin{
    color: var(--mid-grey);
    font-size: 1.2rem;
    margin-top: 15px;
}

.plan-card--ca{
    width: 150px;
    height: 48px;
    margin-top: 30px;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--warm-black);
    font-family: 'DM sans', sans-serif;
}

.plan-card--ca span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(./assets/icons/arrow-right.svg);
    vertical-align: text-bottom;
}

.plans-container--mensaual{
    position:relative;
    scroll-snap-align: center;
    width: 60%;
    min-width: 192px;
    max-width:300px;
    height: 250px;
    margin: 50px 4px 0 8px;
    padding: 30px 15px 0;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,30, 0.16);
}

.plans-container--mensaual .ideal{
    position:absolute;
    width: 101px;
    height: 31px;
    background-color: var(--secondary-blue);
    padding: 6px;
    border-radius: 8px;
    top: -15px;
    left: calc(50% - 101px/2);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--just-white);
}

.card-title-mensual{
    font-size: 1.4rem;
    font-weight: 500;
}

.card-price-mensual{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5rem;
    color: var(--warm-black);
}

.card-price-mensual span{
    position:absolute;
    font-size: 1.2rem;
    font-weight: 300;
    left: calc(50% - 8px/2 - 30px);
    top: calc( 50% - 50px/2 - 60px);
}

.card-mensual-benefit{
    font-size: 1.2rem;
    color: var(--mid-grey);
    margin-top: 15px;
}

.plan-mensual-button{
    width: 150px;
    height: 48px;
    margin-top: 30px;
    background-color: var(--off-white);
    border: 2px solid var(--secondary-blue);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--warm-black);
    font-family: 'DM sans', sans-serif;
}

.plans-container--VIP{
    position:relative;
    scroll-snap-align: center;
    width: 60%;
    min-width: 192px;
    max-width:300px;
    height: 250px;
    margin: 50px 8px 0 4px;
    padding: 30px 15px 0;
    background: linear-gradient(207deg, rgb(10, 10, 10) 20%, var(--warm-black1) 100%);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89,73,30, 0.16);
}

.VIP{
    position:absolute;
    top: -15px;
    left: calc(50% - 101px/2);
    padding: 6px;
    width: 101px;
    height:31px;
    border-radius: 8px;
    background: linear-gradient( 207deg , var(--warm-black1) 3%,var(--bitcoin-orange) 100%);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--just-white)
}

.card-title-VIP{
    color: var(--just-white);
    font-weight: 500;
    font-size: 1.4rem;
}

.card-price-VIP{
    font-size: 5.2rem;
    color: var(--bitcoin-orange);
    font-weight: 700;
    padding: 5px 0;
    line-height: 5rem;
}

.card-price-VIP span{
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: text-top;
}

.card-VIP-benefit{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
    color: #858585;
    margin-top: 10px;
}

.plan-VIP-button{
width: 150px;
height: 48px;
margin-top: 20px;
background-color: var(--just-white);
border: 2px solid var(--bitcoin-orange);
border-radius: 4px;
font-size: 1.4rem;
font-weight: bold;
line-height: 1.8rem;
color: var(--warm-black);
font-family: 'DM sans', sans-serif;
}

footer{
    display: flex;
    width: 100%;
    height: 150px;
    background: linear-gradient(207.8deg, #d87f26 12%, #F7931A 100%);
}

footer section{
    display: flex;
    width:50%;
    justify-content: center;
    align-items: center;
}

footer .footer-left ul{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
    
}

.footer-left li{
    margin:10px 0 ;
}

.footer-left a{
    text-decoration: none;
    color: var(--just-white);
}
